@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
	font-family: 'Poppins', sans-serif;
}

.map {
	filter: grayscale(100%) invert(92%) contrast(93%);
}

.icon-cart {
	width: 40px;
	height: 40px;
	stroke: white;
}

.icon-close {
	width: 25px;
	height: 25px;
}

.ancho-negro{
background-color: black;
}

.ancho-blanco{
background-color: white;
}

.ancho-negro, .ancho-blanco{
	width: 1200px;
	margin: 0 auto;
	height: 500px;
}